.shop-title {
  font-family: 'Jhiaxus-Oblique', sans-serif;
  font-style: normal;
  margin-top: 0px;
  font-weight: 100;
  font-size: 350%;
  text-align: center;
  color: var(--primary-colour);
  .shop-title-logo {
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .shop-title-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
