$primary: var(--accent-colour);
$secondary: var(--primary-colour);
$detail: var(--accent-colour);
$white: #e7dfdd;

.button-container {
  min-width: 165px;
  width: auto;
  height: 42px;
  letter-spacing: 0.5px;
  line-height: 42px;
  border-radius: 2px;
  padding: 0px;
  font-size: 15px;
  background-color: $primary;
  color: $white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-out;

  &:hover {
    background-color: $white;
    color: $primary;
    border: 1px solid $detail;
  }

  &.inverted {
    background-color: $white;
    color: $primary;
    border: 1px solid $detail;

    &:hover {
      background-color: $primary;
      color: $white;
      border: none;
    }
  }
}
