.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cart-icon {
    width: 24px;
    height: 24px;
  }

  .cart-count {
    position: absolute;
    font-size: 12px;
    color: var(--secondary-accent-colour);
    font-weight: bold;
    top: 0px;
    right: 21px;
  }
}
