.app {
  height: 100%;
  background-color: var(--secondary-colour);
  padding: 20px 40px;
  color: var(--primary-colour);
}

html {
  height: 100%;
  background-color: var(--secondary-colour);
}

body {
  height: 100%;
  background-color: var(--secondary-colour);
}

@font-face {
  font-family: 'Jhiaxus-Oblique';
  src: url('fonts/Jhiaxus-Oblique.ttf.woff') format('woff'),
    url('fonts/Jhiaxus-Oblique.ttf.svg#Jhiaxus-Oblique') format('svg'),
    url('fonts/Jhiaxus-Oblique.ttf.eot'),
    url('fonts/Jhiaxus-Oblique.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* Palette
  VOID #0E0B16
  FUSCHIA #A239CA
  JEWEL #4717F6
  STARK #E7DFDD
*/
/* Randell Comics
#0f1014
#f9f9f9
#cbcdf6
#9da1f3
#6f76f1
*/
